<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}};
    <title>Registration Form</title>
</head>
<body>
    {{>navbar}};
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>secret</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button class="btn" style="background-color:rgb(101, 84, 201); padding:0.5rem 1rem 0.5rem 1rem; font-size: 16px; color:#fff">More</button>
            </div>
            <div class="col-sm-4">
                <h3>Megna tempus sed amet aliquam veroeros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button class="btn" style="background-color:rgb(101, 84, 201); padding:0.5rem 1rem 0.5rem 1rem; font-size: 16px; color:#fff">More</button>
            </div>
            <div class="col-sm-4">
                <h3>Megna tempus sed amet aliquam veroeros</h3>        
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <button class="btn" style="background-color:rgb(101, 84, 201); padding:0.5rem 1rem 0.5rem 1rem; font-size: 16px; color:#fff">More</button>
            </div>
        </div>
    </div>
</body>
</html>